// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

#content {
  padding-top: 100px;
}

body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: #818488;
}

:-moz-placeholder { /* Firefox 18- */
    color: #818488;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #818488;
}

:-ms-input-placeholder {
   color: #818488;
}

input:focus,
select:focus,
textarea:focus,
button:focus
{
    outline: none;
}




/************** LINKS **************/

.user-link {
  color: #135582;
  font-size: 18px;
  font-weight: bold;
  display: inline;
}

.user-link {
  cursor: pointer;
}

.follow-unfollow-button {
  cursor: pointer;
}


/************* Header ***************/
.link-wrapper {
  display: inline-block;
  text-align: center;
}

.header li>*:hover {
  cursor: pointer;
}

#header-search-input {

  border-radius:100px;
  border: 1px #EEEFEF solid;
  text-align: center;
  width: 198px;
  height: 20px;
}

.header-search-bar-container {


}


#header-title {
  font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin-left: 10%;
}

#header-logout {
  margin-right: 10%;

}


.header {
  display: flex;
  flex-direction: row;
  background-color: #fff;

  margin: 0;
  padding:0;
  position: fixed;
  top: -7px;
  left: -7px;
  align-items: center;
  height: 78px;
  z-index: 10;
  width: 100%;


}

.header li {
  flex-grow: 1;

  margin-left:auto;
  margin-right:auto;
  font-family: sans-serif;
  font-size: 16px;
  color: #135582;
  font-weight: 200;
  text-align: center;
}

#search-results {
  overflow: hidden;
  float: none;
  display: block;
  position:absolute;
  padding: 0;
  top: 50px;
  left: 50%;
  transform: translate(-45%, 0%);
  background: rgba(255,255,255,1);
  width: 150px;

}
#search-results>li{
  position:relative;
  text-align: center;
  width: auto;
}

#search-results .user-link{
  color: black;
  font-weight: lighter;
  border: 1px #EEEFEF solid;
  display: block;
}
#search-results .user-link:hover{
  background-color: rgba(200,200,200,1);
}




/*************MODAL***************/


.modal {
  text-align: center;

}
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  z-index: 25;
}

.modal input, .modal #choose-photo {
  display:block;
  background-color: #4090DB;
  width: 200px;
  height: 30px;
  border-radius:10px;
  border: 1px #EEEFEF solid;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  transition: all .1s;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

  .modal input:hover, .modal #choose-photo:hover {
    background-color: #2C6499;
    cursor: pointer;

  }
  .modal input {
    width: 150px;
    display: inline-block;
  }

  .modal h3 {
    color: #135582;
    margin-bottom: 30px;
  }

  .modal textarea {
    width: 200px;
    height: 50px;
  }

  #choose-photo {
    display: block;
    margin-bottom: 15px;
  }

  #photo-preview {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px #000 dashed;
  }



/**************PHOTO FEED*********************/

.feed {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.photo-index-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px #EEEFEF solid;
  width: 800px;
  transform: translateX(-4%);
  margin-bottom: 100px;

}

.comment-box {
  box-sizing: border-box;
  margin: 0;
  width: 750px;
  height: 50px;
  border: 0px;
  border-top:1px #EEEFEF solid;
  border-left:1px #EEEFEF solid;
  padding: 0px;
  font-size: 18px;
  font-weight: lighter;
  float: right;
}

.comment-form {
  display: inline;
}

.photo-comment div {
  display: inline;
}

// .photo-comment {
//   max-width: 100px;
// }

.photo-like {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-top:1px #EEEFEF solid;
  position: relative;
  top: 25px;
  transform: translateY(-50%);
}

.photo-like:hover {
  cursor: pointer;
}

.photo-likes-overflow {
  color: #135582;
  font-size: 18px;
  font-weight: bold;
}

.photo-likes-overflow {
  cursor: pointer;
}



.likes-overflow-modal .user-link {
  display: inline-block;
  position: relative;
  border: 1px #EEEFEF solid;
}

.likes-overflow-modal .user-link:hover {
  background-color: rgba(200,200,200,1);
  cursor: pointer;
}

.likes-overflow-modal .-un-button {
  display: inline;
  float: right;
  border: 1px #EEEFEF solid;
  background-color: #fff;
  width: 70px;
  border-radius:10px;
  border: 1px #4090DB solid;
  font-size: 16px;
  font-weight: normal;
  color: #4090DB;
  text-align: center;

}


.likes-overflow-modal .-un-button:hover {
  background-color: #4090DB;
  border: 1px #fff solid;
  color: #fff;
  cursor: pointer;
}

.likes-overflow-modal span {
  display: block;
}

.photo-bottom {
  box-sizing: padding-box;
  padding-bottom: 15px;
  padding-top: 15px;
}

.photo-feed-users-who-liked .user-link {
  display: inline-block;
}

.photo-feed-users-who-liked {
  display: block;
  min-height: 22px;
}

.photo-input-fields {
  height: 50px;
}

.photo-top {
  height: 48px;
  margin-left: 75px;
  margin-top: 24px;

}


.photo-top-user-link {

}

.caption-user-link {
  display: inline-block;
  width: 20px;
}
.caption > .user-link {
  display: inline-block;

}

.caption {
  display: inline-block;
}

.delete-comment-x {
  float: right;
  margin-right: 15%;
  color: #A5A7AA;
  font-weight: bold;
  cursor: pointer;

}


.delete-comment-x:hover {
  color: #4B4F54;
}

.confirm-delete-comment {
  color: #F12938;
  font-size: 18px;
  width: 100%;
  height: 44px;
  border: none;
  border-bottom: 1px #EEEFEF solid;
  background-color: #fff;
  cursor: pointer;
}

.cancel-delete-comment {
  color: #125688;
  font-size: 18px;
  width: 100%;
  height: 44px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.confirm-delete-comment:hover, .cancel-delete-comment:hover {
    background-color: #EEEFEF;
}



.photo-image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 800px;
  height: auto;

}

.photo-index-item .caption  {
  display: inline-block;
  padding: 0;
}

.photo-index-item .poster  {
  display: inline-block;
  font-size: 24px;
}


/************** USER PAGE **************/


.user-page-profile-picture {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 20%;
  display: inline;
}

.username-user-page {
  font-size: 36px;
  color: #132b41;
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
}


.user-page-top > .follow-unfollow-button {
  display: inline-block;
  background-color: #fff;
  border: 1px #6dc993 solid;
  font-weight: normal;
  color: #6dc993;
  font-size: 24px;
  width: 100px;
  text-align: center;
  clear: right;
  margin-bottom: 50px;
  margin-left: 5
}


.user-page-top > .follow-unfollow-button:hover {
  background-color: #6dc993;
  border: 1px #fff solid;
  color: #fff;
}

.user-followed-count, .user-followers-count {
  display: inline;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 24px;

  border: 1px #EEEFEF solid;
  background-color: #fff;
  border-radius:10px;
  border: 1px #4090DB solid;
  font-weight: normal;
  color: #4090DB;
}

.user-followed-count {
  margin-right: 25%;
}

.user-followers-count {
  margin-left: 25%;
}

.user-followed-count:hover, .user-followers-count:hover {
  background-color: #4090DB;
  border: 1px #fff solid;
  color: #fff;
  cursor: pointer;
}

.user-followed-count > div, .user-followers-count > div {
  display: inline;
}

.user-followed-list, .user-followers-list {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  text-align: left;
}

.user-followed-list > li, .user-followers-list > li {
  width: auto;
  padding: 0;
  border: 1px #EEEFEF solid;
}

.user-followed-list > li > div, .user-followers-list > li > div {
  border: 0;
  height: 24px;
  display: inline;
}

.user-followed-list > li > div > span, .user-followers-list > li > div > span {
  display: inline;
  border: 0;
  text-align: center;
  float: right;
}

.user-followed-list > li > div > span:first-child, .user-followers-list > li > div > span:first-child {
  border: 1px #EEEFEF solid;
  background-color: #fff;
  width: 70px;
  border-radius:10px;
  border: 1px #4090DB solid;
  font-size: 16px;
  font-weight: normal;
  color: #4090DB;
}

.user-followed-list > li > div > span:first-child:hover, .user-followers-list > li > div > span:first-child:hover {
  background-color: #4090DB;
  border: 1px #fff solid;
  color: #fff;
}

.user-followed-list>li>.user-link, .user-followers-list>li>.user-link{
  color: black;
  font-weight: normal;
}

.user-followed-list>li>.user-link:hover, .user-followers-list>li>.user-link:hover {
  background-color: rgba(200,200,200,1);
}

.user-page-top {
  margin-bottom: 50px;
}

.user-photos-index {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}


.user-photo-opacity {
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
}

.user-page-photo {
  display:inline-block;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
}

.user-photo-item {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  background-color: black
  // cursor: pointer;

}

.user-page-photo:hover .user-photo-item {
  opacity: .4;
  cursor: pointer;

}
.user-page-photo:hover .user-page-photo-likes{
  display: inline;
  z-index: 5;
}
.user-page-photo:hover .user-page-photo-comments{
  display: inline;
  z-index: 5;
}

.user-page-photo-likes {
  position: absolute;;
  top: 50%;
  transform: translate(0%, -50%);
  left: 35%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: none;


}


.user-page-photo-comments {
  position: absolute;;
  top: 50%;
  transform: translate(0%, -50%);
  right: 35%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: none;

}

.user-page-show-photo-left {
  float: left;
  width: 600px;
  height: 600px;
}

.user-page-photo-show-left img {
  float: left;
}

.user-page-photo-show-right {
  display: block;
  float: right;
  width: 335px;
  height: 600px;

}

.user-page-photo-show-right .user-page-photo-show-username {
  height: 37px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}


.user-page-photo-show-right .user-page-photo-show-reactions {
  // max-height: 472px;
  height: 472px;
  // background-color: blue;
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px #EEEFEF solid;
  overflow:scroll;
}
.user-page-photo-show-input .comment-box {
  width: 285px;
}

.user-page-photo-show-delete {
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  transform: translate(0, -20%);
  cursor: pointer;
  display: none;

}

.user-page-photo-show-left:hover .user-page-photo-show-delete {
  display: inline;

}
