// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*****************HEADER*******************/
header {
  display: block;
  border: 1px solid #000;
  font-size: 32px;
  color: #000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #125688;
  height: 75px;
}

.logo {
  float: left;
}

.username {
  float: right;
  margin-right: 100px;
}
