// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 0;
  padding:0;
  position: relative;
  top: -7px;
  left: -7px;
  align-items: center;


}

.header li {
  flex-grow: 1;
  margin-left:auto;
  margin-right:auto;
  font-family: sans-serif;
  font-size: 32px;
}


/*************MODAL***************/


.modal {
    float: none;
    display: block;
    width: 300px;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    top: 50%;
    position: absolute;
    transform: translate(-90%, 100%);;
    background: rgba(0,0,0,0.8);
    color: #fff;
    z-index: 99999;
    text-align: center;
}

  input, button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    outline: 0;
    border: 0;
    color: #edf4f9;
    text-decoration: none;
    background-color: #4f94cf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 0.3em;
    font-weight: bold;
    padding: 6px 10px 6px 10px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }



/**************PHOTOS*********************/

.photo-index-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;

}

.photo-index-item .caption,  {
  display: inline-block;
  padding: 0;
}

.photo-index-item .poster,  {
  display: inline-block;
  font-size: 24px;
}


.photo-index-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px #ccc solid;
  width: 800px;
  transform: translateX(-4%);
  margin-bottom: 100px;




}

.feed {
  margin-left: auto;
  margin-right: auto;
}


* {
  border: 1px solid black;
}
